  <header>
    <h2 class="headline">ようこそ Bookers へ！</h2>
  </header>
    <p class="top">Bookers では、さまざまな書籍に関するあなたの意見や
     <br><br>印象を共有し交換することができます
     <br><br>
     <%=link_to 'start',books_path %>
    </p>
