// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Common
.commonul{
  list-style-type:none;
  margin:15px;
}
.commonli{
  display:inline-block;
  text-align:center;
  width:50px;
}
.commonli + .commonli {
  border-left:1px solid #000;
}
.create-box{
  margin:0 20px;
}

// Edit
h3{
  margin :20px;
}
.edit{
  margin:20px;
}

//Show
.show{
  margin:40px;
  display:flex;
  flex-wrap:wrap;
}
.comment{
  color:green;
}
// index
