// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Common
.commonul{
  list-style-type:none;
  margin:10px 0;
}
.commonli{
  display:inline-block;
  text-align:center;
  width:50px;
}
.commonli + .commonli {
  border-left:1px solid #000;
}
.create-box{
  margin:0 20px;
}
h1{
  margin-bottom:15px;
}
h2{
  margin:20px 0;
}

//Show
.show{
  margin:40px;
  display:flex;
  flex-wrap:wrap;
}
.comment{
  color:green;
}
// index
table{
  display:table;
  border-collapse:separate;
  border-spacing:2px;
  box-sizing:border-box;
}

td{
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
}
th{
  padding-bottom:15px;
}